
.App {
  /* text-align: center; */
  background-color: rgb(182 157 30 / 27%);
  width: auto;
  height: auto;
}

.App-logo {
  height: 100%;
  width: 200px;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}
.body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box-1{
  width: 330px;
  height: 200px;
}
.box-2{
  width: 330px;
  height: 200px;
}
.box-3{
  width: 20%;
  height: 600px;
}
.box-4{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  height: 600px;
}
.heading{
  color: black;
  height: 10%;
}
.image{
  width: 100%;
  height: 300px;
}
.down{
  margin-left: 8%;
}
.image2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 300px;
  margin-left: 10%;
  margin-right: 10%;
}
.foot{
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  height:2px;
  border-width:0;
  color:red;
  background-color:red;
}
.foot2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-5{
  background-color: red;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 200px;
}
.first{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image3{
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.image4{
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.image5{
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}
